body{
    margin: 0;
    overflow-y: hidden;
}

.container{
    --vSwipe: 0;
    font-size: 0;
    width: 100%;
    transform: translateY(var(--vSwipe));
    transition: transform 0.5s ease-in-out;
}

.slider-item-different{
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.top{
    --track: 0;
    position: absolute;
    top: 0;
    left: var(--track);
    z-index: 1000;
}

.bottom{
    position: relative;
    top: 0;
    left: 0;
    --gSwipe: 0;
    transform: translateX(var(--gSwipe));
    transition: transform 0.5s ease-in-out;
}

